/* Imports the Smooch Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

/* global css variables */
:root {
    --main-font: 'Smooch Sans', Times New Roman, serif;
    padding: 10px;
}

/* Sets font and background color for the page */
body {
    background-color: lightpink;
    font-family: var(--main-font);
}

/* class selector for the title class */
.title {
    padding: 10mm;
    font-size: 14pt;
    text-align: center;
    color: color-mix(in srgb, black 50%, transparent);
    position: relative;
}

/* class selector for the box class */
.box {
  background-color: #B3EFB3;
}

/* Descendant combinator */
.box summary {
    color: rgba(0, 0, 0, .5);
}

/* child combinator */
ul > li {
  border-top: 5px solid rgba(0, 0, 0, .1);
  border-bottom: 5px solid rgba(0, 0, 0, .1);
}

/* general sibling combinator */
h2 ~ p {
  border: 5px solid rgba(0, 0, 0, .5);
  border-radius: 2em;
  margin: 1vh 1vw 1vh 1vw;
  padding: 1vh 1vw 1vh 1vw;
}

/* adjacent sibling combinator */
h2 + p {
  background-color: #B3EFB3;
}

/* Combined two selectors */
img.imgcontainer {
  border: 5px solid rgba(0, 0, 0, .5);
}

/* pseudo-class selector */
li:has(img) {
  border: 2px solid rgba(0, 0, 0, .5);
  border-radius: 2em;
  padding: 10px;
}

/* nested selector */
section {
  & video {
    border: 5px solid rgba(0, 0, 0, .5);
  }
}

.borderlh {
  border-width: 5px;
  border-style: solid;
  border-color: color(srgb(0, 0, 0) / 0.5);
  border-radius: 2em;
}

.bordersh {
  border: 5px solid rgba(0, 0, 0, .5);
  border-radius: 2em;
}

.marginlh {
  margin-top: 1vh;
  margin-right: 1vw;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.marginsh {
  margin: 1vh 1vw 1vh 1vw;
}

.marginauto {
  margin: auto;
}

.paddinglh {
  padding-top: 1vh;
  padding-right: 1vw;
  padding-bottom: 1vh;
  padding-left: 1vw;
}

.paddingsh {
  padding: 1vh 1vw 1vh 1vw;
}

/* id selector for the signup form */
#signup {
    background-color: rgb(179, 239, 179);
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    padding: 10px;
    display: inline-block;
}

/* universal selector */
* {
    box-sizing: border-box;
}


/* element selector for all video elements */
video {
    height: auto;
    max-width: 50vw;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    width: 50%;
}

@media (min-width: 768px) {
  .imgcontainer {
    width: 320px;
  }
}

img {
    height: auto;
    min-width: 100%;
}

input[type="text"] {
  border: 1px solid #000;
}

button:hover {
    background: hsl(120, 65%, 82%)
}

a:hover {
    background-color: rgba(0, 0, 0, .1);
}

a:active {
    color: hsl(120, 65%, 82%);
}

h3 {
    text-decoration: underline;
}

.hide {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;  /* stack vertically */
    align-items: flex-start;
  }
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-items: center;
}

@media (max-width: 600px) {
  ol {
    grid-template-columns: 1fr; /* single column */
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}